# Traffic for Louisville

In [1]:
import pandas as pd
import csv
import zipfile as z
import sqlite3
import matplotlib.pyplot as plt
import os

os.getcwd()

'C:\\Users\\reeva\\Documents\\code\\github\\traffic_project'

### Load the csv

In [2]:
# unzipping csv

#zf = z.ZipFile("Data/JEFFERSON COUNTY_CRASH DATA_2010-2017.zip","r")
#zf.extractall("Data")
#zf.close()

In [3]:
# sqlite DB

db = sqlite3.connect("Data/traffic_project.db")
#df1 = pd.read_csv("Data/JEFFERSON COUNTY_CRASH DATA_2010-2017.csv", header=0)
df1 = pd.read_csv("Data/traffic_quarterly.csv", header=0)
df1.to_sql("traffic", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

C:\Users\reeva\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [4]:
# delete csv file

#target_file = "Data/JEFFERSON COUNTY_CRASH DATA_2010-2017.csv"
  
#if os.path.isfile(target_file): 
#    os.remove(target_file) 
#    print("File deleted") 
#else: 
#    print(f'"{target_file}" not found')

### Table information via SQL

In [5]:
# table information

query = """SELECT * FROM sqlite_master ORDER BY name;"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,index,ix_traffic_index,traffic,133,"CREATE INDEX ""ix_traffic_index""ON ""traffic"" (""..."
1,table,traffic,traffic,2,"CREATE TABLE ""traffic"" (\n""index"" INTEGER,\n ..."

In [6]:
# more table information

query_table = """
select * from PRAGMA_TABLE_INFO('traffic');
"""
run_query(query_table)

   cid              name     type  notnull dflt_value  pk
0    0             index  INTEGER        0       None   0
1    1              Year  INTEGER        0       None   0
2    2      FirstQuarter  INTEGER        0       None   0
3    3     SecondQuarter  INTEGER        0       None   0
4    4      ThirdQuarter  INTEGER        0       None   0
5    5     FourthQuarter  INTEGER        0       None   0
6    6             Total  INTEGER        0       None   0
7    7   FirstNineMonths  INTEGER        0       None   0

In [7]:
# View whole table

query = """SELECT * FROM traffic;"""
run_query(query)

,index,Year,FirstQuarter,SecondQuarter,ThirdQuarter,FourthQuarter,Total,FirstNineMonths
0,0,2007,9354,10611,11056,10238,41259,31021
1,1,2008,8459,9435,9947,9582,37423,27841
2,2,2009,7552,8975,9104,8252,33883,25631
3,3,2010,6755,8522,9226,8496,32999,24503
4,4,2011,6726,8227,8984,8542,32479,23937
5,5,2012,7521,8612,9171,8478,33782,25304
6,6,2013,7166,8207,9024,8496,32893,24397
7,7,2014,6856,8179,8799,8910,32744,23834
8,8,2015,7370,8823,9805,9486,35484,25998
9,9,2016,8154,9563,10078,10011,37806,27795
10,10,2017,8301,9460,10081,9631,37473,27842
11,11,2018,8189,9290,9856,9225,36560,27335
12,12,2019,7830,9150,9750,0,0,26730

In [12]:
# Limiting selection to the data for the graph

# For some reason I can't read the other columns

query = """
SELECT 
Year, FirstQuarter, SecondQuarter, ThirdQuarter, FourthQuarter
FROM traffic;
"""
run_query(query)

DatabaseError: Execution failed on sql '
SELECT
Year, FirstQuarter, SecondQuarter, ThirdQuarter, FourthQuarter
FROM traffic;
': no such column: FirstQuarter

### Early graph information

In [ ]:
#input_file = 'iris.csv'
plt.figure(figsize=(7.5, 4.25))
plt.style.use('classic')

traffic_incidents = [][]

for quarter in range()

#with open(input_file, 'r') as iris_data:
#    irises = list(csv.reader(iris_data))
    
#virginica_petal_length = []

num_bins = 5

for petal in range(0, len(irises)-1):
    if irises[petal][4] == 'Iris-virginica':
        virginica_petal_length.append(float(irises[petal][2]))
        
plt.hist(virginica_petal_length, num_bins, facecolor='red', alpha=0.75)

plt.title('Iris-virginica Petal length', fontsize=12)
plt.xlabel('Petal length (cm)', fontsize=10)
plt.ylabel('Probability', fontsize=10)

plt.show()